# Ignore the result of any builds.
*.o
*.sho
*.exe
*.lib
*.shlib
*.iso

#ignore editor temporary and backup files
.*.swp
*~
\#*\#
.\#*

# Ignore ooc temporary directories
ooc_tmp
rock_tmp

# Ignore rock libcaching files
.libs
*.cacheinfo

# Ignore the GRUB stage2
stage2_eltorito

